<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>QuanLyDoan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QuanLyDonViServlet</display-name>
    <servlet-name>QuanLyDonViServlet</servlet-name>
    <servlet-class>com.zent.controller.QuanLyDonViServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanLyDonViServlet</servlet-name>
    <url-pattern>/QuanLyDonViServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnionistManagerServlet</display-name>
    <servlet-name>UnionistManagerServlet</servlet-name>
    <servlet-class>com.zent.controller.UnionistManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnionistManagerServlet</servlet-name>
    <url-pattern>/UnionistManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUnionistServlet</display-name>
    <servlet-name>AddUnionistServlet</servlet-name>
    <servlet-class>com.zent.controller.AddUnionistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUnionistServlet</servlet-name>
    <url-pattern>/AddUnionistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.zent.controller.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayUnionistServlet</display-name>
    <servlet-name>PayUnionistServlet</servlet-name>
    <servlet-class>com.zent.controller.PayUnionistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayUnionistServlet</servlet-name>
    <url-pattern>/PayUnionistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.zent.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermissionServlet</display-name>
    <servlet-name>PermissionServlet</servlet-name>
    <servlet-class>com.zent.controller.PermissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermissionServlet</servlet-name>
    <url-pattern>/PermissionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleServlet</display-name>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>com.zent.controller.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/RoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListRoleServlet</display-name>
    <servlet-name>ListRoleServlet</servlet-name>
    <servlet-class>com.zent.controller.ListRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRoleServlet</servlet-name>
    <url-pattern>/ListRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RolePermissionServlet</display-name>
    <servlet-name>RolePermissionServlet</servlet-name>
    <servlet-class>com.zent.controller.RolePermissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolePermissionServlet</servlet-name>
    <url-pattern>/RolePermissionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPermission</display-name>
    <servlet-name>ListPermission</servlet-name>
    <servlet-class>com.zent.controller.ListPermission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPermission</servlet-name>
    <url-pattern>/ListPermission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManagerServlet</display-name>
    <servlet-name>UserManagerServlet</servlet-name>
    <servlet-class>com.zent.controller.UserManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagerServlet</servlet-name>
    <url-pattern>/UserManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserServlet</display-name>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>com.zent.controller.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/ListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleUserServlet</display-name>
    <servlet-name>RoleUserServlet</servlet-name>
    <servlet-class>com.zent.controller.RoleUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleUserServlet</servlet-name>
    <url-pattern>/RoleUserServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.zent.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpentServlet</display-name>
    <servlet-name>SpentServlet</servlet-name>
    <servlet-class>com.zent.controller.SpentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpentServlet</servlet-name>
    <url-pattern>/SpentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSpentServlet</display-name>
    <servlet-name>ListSpentServlet</servlet-name>
    <servlet-class>com.zent.controller.ListSpentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSpentServlet</servlet-name>
    <url-pattern>/ListSpentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputMoneyServlet</display-name>
    <servlet-name>InputMoneyServlet</servlet-name>
    <servlet-class>com.zent.controller.InputMoneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputMoneyServlet</servlet-name>
    <url-pattern>/InputMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListInputMoneyServlet</display-name>
    <servlet-name>ListInputMoneyServlet</servlet-name>
    <servlet-class>com.zent.controller.ListInputMoneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListInputMoneyServlet</servlet-name>
    <url-pattern>/ListInputMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.zent.controller.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadFileExcelServlet</display-name>
    <servlet-name>ReadFileExcelServlet</servlet-name>
    <servlet-class>com.zent.controller.ReadFileExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadFileExcelServlet</servlet-name>
    <url-pattern>/ReadFileExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadFileExcelUnionistServlet</display-name>
    <servlet-name>ReadFileExcelUnionistServlet</servlet-name>
    <servlet-class>com.zent.controller.ReadFileExcelUnionistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadFileExcelUnionistServlet</servlet-name>
    <url-pattern>/ReadFileExcelUnionistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConvertUnionistServlet</display-name>
    <servlet-name>ConvertUnionistServlet</servlet-name>
    <servlet-class>com.zent.controller.ConvertUnionistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConvertUnionistServlet</servlet-name>
    <url-pattern>/ConvertUnionistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConvertUnionistManagerServlet</display-name>
    <servlet-name>ConvertUnionistManagerServlet</servlet-name>
    <servlet-class>com.zent.controller.ConvertUnionistManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConvertUnionistManagerServlet</servlet-name>
    <url-pattern>/ConvertUnionistManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmReceiverServlet</display-name>
    <servlet-name>ConfirmReceiverServlet</servlet-name>
    <servlet-class>com.zent.controller.ConfirmReceiverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmReceiverServlet</servlet-name>
    <url-pattern>/ConfirmReceiverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IntroduceUnionistReceiverServlet</display-name>
    <servlet-name>IntroduceUnionistReceiverServlet</servlet-name>
    <servlet-class>com.zent.controller.IntroduceUnionistReceiverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntroduceUnionistReceiverServlet</servlet-name>
    <url-pattern>/IntroduceUnionistReceiverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUnitUnderServlet</display-name>
    <servlet-name>ListUnitUnderServlet</servlet-name>
    <servlet-class>com.zent.controller.ListUnitUnderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUnitUnderServlet</servlet-name>
    <url-pattern>/ListUnitUnderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportUnionistManager</display-name>
    <servlet-name>ReportUnionistManager</servlet-name>
    <servlet-class>com.zent.controller.ReportUnionistManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportUnionistManager</servlet-name>
    <url-pattern>/ReportUnionistManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListReportUnionistServlet</display-name>
    <servlet-name>ListReportUnionistServlet</servlet-name>
    <servlet-class>com.zent.controller.ListReportUnionistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListReportUnionistServlet</servlet-name>
    <url-pattern>/ListReportUnionistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BonuosDisciplineServlet</display-name>
    <servlet-name>BonuosDisciplineServlet</servlet-name>
    <servlet-class>com.zent.controller.BonuosDisciplineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BonuosDisciplineServlet</servlet-name>
    <url-pattern>/BonuosDisciplineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RateUnionistServlet</display-name>
    <servlet-name>RateUnionistServlet</servlet-name>
    <servlet-class>com.zent.controller.RateUnionistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RateUnionistServlet</servlet-name>
    <url-pattern>/RateUnionistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUnionistByUnits</display-name>
    <servlet-name>ListUnionistByUnits</servlet-name>
    <servlet-class>com.zent.controller.ListUnionistByUnits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUnionistByUnits</servlet-name>
    <url-pattern>/ListUnionistByUnits</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListRateUnionistServlet</display-name>
    <servlet-name>ListRateUnionistServlet</servlet-name>
    <servlet-class>com.zent.controller.ListRateUnionistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRateUnionistServlet</servlet-name>
    <url-pattern>/ListRateUnionistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportRateUnionistServlet</display-name>
    <servlet-name>ReportRateUnionistServlet</servlet-name>
    <servlet-class>com.zent.controller.ReportRateUnionistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportRateUnionistServlet</servlet-name>
    <url-pattern>/ReportRateUnionistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileServlet</display-name>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>com.zent.controller.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/UserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintServlet</display-name>
    <servlet-name>PrintServlet</servlet-name>
    <servlet-class>com.zent.controller.PrintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintServlet</servlet-name>
    <url-pattern>/PrintServlet</url-pattern>
  </servlet-mapping>
</web-app>